*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{

    background-color: black;
    color: azure;
    align-items: center;
    text-align: center;
    height: 1200px;
    padding: 30px;

}

.array{
    background-color: rgb(23, 124, 179);
    color: white;
    width: 330px;
    height: 280px;
    align-items: center;
    text-align: center;
    margin-left: 39%;
    border-radius: 10px;
}
.number{
background-color: rgb(211, 27, 116);
    color: white;
    width: 330px;
    height: 280px;
    align-items: center;
    text-align: center;
    margin-left: 39%;
    border-radius: 10px;

}

.string{


    background-color: rgb(176, 33, 215);
    color: white;
    width: 330px;
    height: 280px;
    align-items: center;
    text-align: center;
    margin-left: 39%;
    border-radius: 10px;


}
.null{

background-color: rgb(19, 218, 105);
    color: white;
    width: 330px;
    height: 110px;
    align-items: center;
    text-align: center;
    margin-left: 39%;
    border-radius: 10px;

}